*,
*::before,
*::after{
    box-sizing: border-box;
    user-select: none;
}
:root{
    --bodybg: #dec9b1;
    --dark-blue: #0d6efd;
    --btn-primary: #b1824b;
    --primary-emp-text: #986139;
    --footer:#3b2516;
    --form-bg: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.sub-text{
    color: #525050;
}
*{
    margin: 0;
    padding: 0;
    /* border: 1px red solid; */
    /* font-family:Verdana, Geneva, Tahoma, sans-serif */
}
.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
}
.navbtn a{
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
a{
    text-decoration: none;
    color: black;
}
body{
    /* background: var(--bodybg); */
    background: linear-gradient(90deg,white,#dec9b1);
    width: 100%;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: "Archivo",sans-serif;
    overflow-x: hidden;
}
.logo{
    padding: 0rem;
    width: 150px;
}
.hr{
    border: 1px solid black;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-weight: 500;
    box-sizing: border-box;
    /* background-color: white; */

    background: linear-gradient(90deg,white,#dec9b1);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
    user-select: none;
}

.nav-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    gap:0.25rem;
}

.navbtn{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
}
.support-btn,
.services-btn{
    position: relative;
    z-index: 1;
}
.login-btn{
    position: relative;
    /* display: inline-block; */
    transition: all 0.08s ease-in;
    z-index: 1;
    margin-left: 1rem;
    background-color: var(--btn-primary);
    color: white;
}
.login-dropdown,
.support-dropdown,
.services-dropdown{
    display: none;
    position: absolute;
    background-color: #dec9b1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99;
    border-radius: 0 0 0.5rem 0.5rem;
    top:2rem;
    right: 1px;
    padding: 0.5rem;
}
/* .support-dropdown{
    display: none;
    position: absolute;
    background-color: #dec9b1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99;
    border-radius: 0 0 0.5rem 0.5rem;
    top:2rem;
    left: 1px;
    padding: 0.5rem;
} */
.login-chevron,
.support-chevron,
.services-chevron{
    transition: transform 0.3s ease-in-out;
}
.chevron-rotate{
    transform: rotate(180deg);
}
.login-item{
    color: black;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 0.25rem 0.5rem;
    
}
.login-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    color: black;
}
.wr{
    border-top:2px solid #0d6efd;
    border-radius: 20px;
}
main{
    margin: 1rem 2rem;
    /* background-color: var(--form-bg); */
    padding:1rem ;
    background-color: linear-gradient(90deg,white,#dec9b1);
}
footer{
    margin-top: 100px;
    background-color: var(--footer);
    color: rgb(230, 230, 230);
    padding: 1rem 2rem;
    position: relative;
    bottom: 0;
}
footer a{
    color: rgb(219, 219, 219);
    font-size: 14px;
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


input[readonly],
textarea[readonly] {
    background-color: #f0f0f0; 
    color: #666; 
    cursor:not-allowed;
}
.booking-form{
    width: 100%;
}
.booking-form form{
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    gap: 1rem;
    grid-auto-rows: minmax(40px, auto);
}
.booking-form input::placeholder,
.booking-form textarea::placeholder
{
    color: rgba(197, 197, 197, 0.858);
}
.booking-form input,
.booking-form textarea{
    padding: 0.5rem;
    font-size: 18px;
    border-radius: 0.5rem;
    border: 1px solid rgb(179, 179, 179);
    font-family: "Archivo",sans-serif;
}
.booking-form label{
    font-size: 20px;
}

/* .user-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
} */

.sender-info,
.receiver-info{
    margin-bottom: 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    position: relative;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 100%;
    padding: 1rem;
}
.parcel-details{
    margin-bottom: 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    position: relative;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.parcel-details input{
    width: 100px;
}

.hanging-title{
    padding: 0.25rem;
    position: absolute;
    top:-15px;
    left: 10px;
    /* background: linear-gradient(90deg,white,#dec9b1); */
    background-color: white;
}
  
.cflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.sender-info{
    grid-column: 1/4;
    grid-row: 1;
}
.receiver-info{
    grid-column: 4/7;
    grid-row: 1;
}
.parcel-details{
    grid-column: 1/4;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    'length breadth'
    'height weight'
    'description description';
    gap: 5px;
    column-gap: 10px;
}
.shipping-options{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border: 2px solid black;
    grid-column: 4/7;
    grid-row: 2;
    border-radius: 0.5rem;
    position: relative;
    min-height: 50px;
    padding: 1rem;
    gap: 10px;
}
.cost-display{
    grid-row: 3;
    grid-column: 1/7;
    align-self: center;
    justify-self: center;
}
.book-btn{
    grid-row: 4;
    grid-column: 4/7;
    justify-self: center;
    width: 70%;
}
.estimate-btn{
    grid-row: 4;
    grid-column: 1/4;
    justify-self:flex-end;
    width: 70%;
}
.estimate-btn button{
    width: 100%;
    border-radius: 0.5rem;
    padding: 20px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d6efd;
    color: white;
    border: 2px solid #0d6efd;
    transition: all 0.3s ease-in-out;
}
.book-btn button{
    width: 100%;
    border-radius: 0.5rem;
    padding: 20px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d6efd;
    color: white;
    border: 2px solid #0d6efd;
    transition: all 0.3s ease-in-out;
}
.book-btn button:hover,
.book-btn button:active,
.estimate-btn button:hover,
.estimate-btn button:active
{
    border:2px solid #000000;
    color: #000000;
}
.length {
    grid-area: length;
}

.breadth {
    grid-area: breadth;
}

.width {
    grid-area: width;
}

.weight {
    grid-area: weight;
}

.description {
    grid-area: description;
}